html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #f5f5f5;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wordCard {
  /* add sick abstract neumorphism on white bg design background and shadows */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* hover neumorphic effect */
.wordCard:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* add design for text, image and button to match the design */
.wordCard .word {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}

form {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  width: 70%;
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

/* style for form on small devices */
@media only screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}